

body {
    background-color: #FFFF88;
    margin: 50px;
}

h1 {
    color: #9A4A9C;
    margin-left: 20px;
}

h2{
    color: #421E5E;
}

h3{
    color: #F4A142;
}

h4{
    color:#FF9900;
}

.jumbotron p{
    padding: 20px;
}